
.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

}

h5{
    color: white;
    cursor: pointer;
    text-decoration: underline;
    
}

.rowimg
{
    max-height: 100px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
    cursor: pointer;
}

.largeposter{
    max-height: 300px;
}

.rowposter::-webkit-scrollbar
{
    display: none;
} 


.delete-button {
    background-color: red;
    width: 100%;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px; 
}